/*  Hawraa Waleed Al ibrahim */
.page-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:60px 20px;
}

.form-box{
  background:#fff;
  padding:40px 35px;
  border-radius:18px;
  width:100%;
  max-width:420px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  text-align:center;
  position:relative;
  overflow:hidden;
}

.form-box h2{
  color:var(--main);
  margin-bottom:20px;
  font-size:26px;
}
.form-box label{
  display:block;
  text-align:left;
  font-size:14px;
  font-weight:600;
  margin-top:10px;
}

[dir="rtl"] .form-box label{
  text-align:right;
}

.form-box input{
  width:100%;
  padding:14px;
  border-radius:12px;
  border:1px solid #ddd;
  font-size:14px;
  margin-top:6px;
  outline:none;
  transition:0.2s;
}

.form-box input:focus{
  border-color:var(--main);
  box-shadow:0 0 0 2px rgba(99,41,73,0.15);
}

/*buttons*/
.submit{
  margin-top:18px;
  padding:14px;
  border:none;
  border-radius:12px;
  background:var(--main);
  color:#fff;
  font-size:15px;
  font-weight:700;
  cursor:pointer;
  transition:0.25s;
}

.submit:hover{
  background:#4e1f39;
}

.logIn{
  margin-top:10px;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#eee;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
}

.logIn:hover{
  background:#ddd;
}

/* Error message*/
#errorMsg,
#errorMsg2{
  text-align:left;
  margin-top:8px;
}

[dir="rtl"] #errorMsg,
[dir="rtl"] #errorMsg2{
  text-align:right;
}

/* Animation */
#step1,
#step2{
  transition:all 0.4s ease;
}

/* step */
.hide-step{
  opacity:0;
  transform:translateX(-30px);
}

.show-step{
  opacity:1;
  transform:translateX(0);
}

.lang-btn{
  position:absolute;
  top:130px;
  right:25px;
}

[dir="rtl"] .lang-btn{
  left:25px;
  right:auto;
}

/*Responsive*/
@media (max-width:500px){

  .form-box{
    padding:30px 20px;
  }

  .form-box h2{
    font-size:22px;
  }

}