@font-face{

    font-family:
    "Frutiger LT Arabic 55 Roman";

    src:url(
      "FrutigerLTArabic-55Roman.ttf"
    );
}

body{

    margin:0;
    padding:0;

    background:#eee;
}

.certificate{

    position:relative;

    width:794px;
    height:1123px;

    margin:auto;
}

.bg{

    width:100%;
}

/* ========================= */
/* اسم المحكم */
/* ========================= */

.judge-name{

    position:absolute;

    top:520px;

    width:100%;

    text-align:center;

    font-family:
    "Frutiger LT Arabic 55 Roman";

    font-size:42px;

    color:#B48E2B;

    font-weight:bold;

}